###########################
# Sections and Paragraphs #
###########################
snippet img "Image"
<div style="text-align: center">
	<img src="${1}" width="${2:200px}" height="${3:200px}" alt="picture is gone"/>
</div>
${4}
endsnippet

snippet cd "Codeblock" b
\`\`\`$1
$2
\`\`\`
$3
endsnippet

snippet i "Inline Code" i
\`$1\`$0
endsnippet

snippet l "link" l
[$1]($2)$3
endsnippet

